body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Figma Variables */

  /* Spacing */
  --font-scale-font-scale-7xl: 60px;
  --font-scale-font-scale-lg: 20px;
  --font-scale-font-scale-md: 16px;
  --font-weight-font-weight-medium: 500;
  --font-weight-font-weight-regular: 400;
  --font-weight-font-weight-semibold: 600;
  --Global-Spacing-Sp-22: 22px;
  --letter-spacing-letter-spacing-zero: 0px;
  --line-height-line-height-7xl: 68px;
  --line-height-line-height-md: 24px;
  --spacing-md: 8px;
  --spacing-none: 0px;
  --spacing-xl: 16px;
  --spacing-xs: 4px;
  --xs: 0.5px;

  /* Color */
  --Color-Base-black: #000;
  --Color-Base-white: #fff;
  --Color-Gecko-25: #e1f7e6;
  --Color-Gecko-400: #3faf5a;
  --Color-Gecko-500: #1e492a;
  --Color-Gray-0-gray-20: rgba(255, 255, 255, 0.2);
  --Color-Green-50: #f2fbf4;
  --Color-Green-300: #5fb800;
  --Color-Green-400: #31580f;
  --Color-Green-500: #173201;
  --foreground-brand-on-background: #eef5ff;

  /* Font */
  --C1-Typography-Helvetica-Neue: "Helvetica Neue", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  --Global-Typography-DM-Sans: "DM Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* Common Style Variables */

  /* Color */
  --Body-2-L: #fff;
  --Color-01-Primary: #eb5be5;
  --color-forestgreen: rgba(18, 178, 75, 0.1);
  --color-gray-100: rgba(255, 255, 255, 0.06);
  --color-yellowgreen: rgba(95, 184, 0, 0.1);
  --Neutraul-01-DDDDD: #ddd;

  /* Gap */
  --gap-6: 6px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-20: 20px;
  --gap-24: 24px;
  --gap-32: 32px;
  --gap-48: 48px;

  /* Padding */
  --padding-6: 6px;
  --padding-10: 10px;
  --padding-12: 12px;
  --padding-16: 16px;
  --padding-20: 20px;
  --padding-40: 40px;
  --padding-80: 80px;

  /* BorderRadius */
  --br-12: 12px;
  --br-16: 16px;

  /* Font */
  --font-karla: "Karla", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  /* FontSize */
  --fs-14: 14px;
  --fs-18: 18px;

  /* Shadows */
  --shadow-drop: 0px 4px 4px rgba(0, 0, 0, 0.07);

  /* WidthHeights */
  --height-16: 16px;
  --height-22: 22px;
  --width-16: 16px;
  --width-22: 22px;

  /* LineHeights */
  --lh-24: 24px;

  /* LetterSpacings */
  --ls--0_02: -0.02;

  --Glassy-Default: blur(40px);
}

